<section class="relative bg-gradient-to-r from-[#6b4a5f] via-[#825c74] to-[#a3828f] py-12">
  <div class="container mx-auto px-6 max-w-screen-xl">
    <div class="flex flex-col lg:flex-row items-center justify-between h-[250px] md:h-[200px]">

      <!-- TEXTO -->
      <div class="w-full lg:w-1/2 text-center md:ml-38 lg:text-left">
        <h2 class="text-3xl font-bold text-gray-200 mb-4">Empezá tu reclamo hoy mismo.</h2>
        <p class="text-lg text-gray-300 mb-8 max-w-md mx-auto lg:mx-0">
          <strong>No estás solo.</strong> Si <strong>te estafaron</strong>, <strong>te cobraron de más</strong> o <strong>te metieron en un plan que no pediste</strong>, nuestro estudio legal está para <strong>defenderte</strong>. Cuanto antes actúes, mejor.
        </p>
        <a href="https://wa.me/5491136596539?text=Hola%2C+los+contacto+desde+su+p%C3%A1gina+web.+Me+gustar%C3%ADa+hacer+una+consulta." target="_blank" class="inline-flex items-center bg-[#d2a547] hover:bg-[#c9a045] text-white font-semibold py-3 px-8 rounded-2xl transition duration-300">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" class="w-5 h-5 mr-2" />
          Contactanos ahora
        </a>
      </div>

      <!-- IMAGEN solo en escritorio -->
      <div class="hidden lg:flex lg:w-1/2 justify-center ">
      <img
  src="/usyco-fix/assets/mujer-wsp.png"
  draggable="false"
  alt="Personas firmando"
  class="h-[297px] w-auto object-contain select-none pointer-events-none"
  oncontextmenu="return false;"
/>
      </div>

    </div>
  </div>
</section>