<header class="fixed backdrop-blur top-0 left-0 right-0 z-50 flex w-full flex-col overflow-visible bg-white px-4 py-4 text-slate-700 shadow md:flex-row md:items-center">
  <a href="#" class="flex items-center gap-2 whitespace-nowrap text-2xl font-black">
    <img src="https://i.imgur.com/d75bXHH.png" alt="Colegio de Abogados 2" class="h-10 w-auto object-contain" />
    <span class="text-[#d2a547] ml-[-10px] md:ml-0">Sabemos Defenderte</span>
  </a>

  <input type="checkbox" class="peer hidden" id="navbar-open" />
  <label class="absolute top-5 right-7 cursor-pointer md:hidden" for="navbar-open">
    <span class="sr-only">Toggle Navigation</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </label>

  <nav aria-label="Header Navigation" class="flex max-h-0 w-full flex-col items-center justify-between overflow-hidden transition-all peer-checked:mt-8 peer-checked:max-h-56 md:ml-24 md:max-h-full md:flex-row md:items-start">
    <ul class="flex flex-col items-center space-y-2 md:ml-auto md:flex-row md:space-y-0">
      <li class="md:mr-12"><a href="#servicios">Servicios</a></li>
      <li class="md:mr-12"><a href="#como-trabajamos">¿Cómo trabajamos?</a></li>
      <li class="md:mr-12"><a href="#contacto">Contacto</a></li>
      <li class="md:mr-12">
        <a
          
          onclick="window.open('https://wa.me/5491136596539?text=Hola%2C+los+contacto+desde+su+p%C3%A1gina+web.+Me+gustar%C3%ADa+hacer+una+consulta.', '_blank');"
          class="rounded-full cursor-pointer border-2 border-emerald-500 px-6 py-1 text-emerald-600 transition-colors hover:bg-emerald-500 hover:text-white inline-flex items-center text-center"
        >
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" class="w-4 h-4 mr-2">
          WhatsApp
        </a>
      </li>
    </ul>
  </nav>
</header>
